<table class="tabela">
    <tr>
        <th>email</th>
        |<td>{{korisnik.email}}</td>
    </tr>
    <tr>
        <th>kontakt telefon</th>
        |<td>{{korisnik.kontaktTelefon}}</td>
    </tr>
    <div *ngIf="!updating">
    <tr><button (click)="updatePress()" class="dugme">Update</button></tr>
    </div>
</table>
<div *ngIf="updating">
<form name="forma" #form="ngForm" (ngSubmit)="update(form)">
<table class="tabela">
    <tr>
        <td>email:</td>
        <td>
            <input type="text" name="email" [(ngModel)]="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" [formControl]="emailControl">
        </td>
    </tr>
    <tr>
        <td>kontaktTelefon:</td>
        <td>
            <input type="text" name="kontaktTelefon" [(ngModel)]="kontaktTelefon" pattern="[0][6][0-9]{8}" [formControl]="kontaktTelefonControl">
        </td>        
    </tr>
    <input type="file" (change)="insertPicture($event)" class="input">
    <tr><button type="submit" class="dugme">Update</button></tr>
</table>
</form>
</div>
{{message}}