.tabela tr td{
    padding-left: 5px;
    font-size: 20px;
}
.tabela tr th{
    font-size: 20px;
}
.dugme{
    font-size: 20px;
    padding: 4px;
    margin: 4px;
    border: 1px solid black;
}
.dugme:hover{
    margin: 3px;
    border: 2px solid black;
}
.input{
    font-size: 20px;
    padding: 4px;
    margin: 4px;
}