.screen{
    background: green;
    padding: 15px;
    font-size: 30px;
}
.header-link{
    text-align: left;
    color: white;
    text-decoration: none;
}
.header-profil{
    float: right;
    text-align:right;
    color: white;
}
.header-login{
    color: white;
}
.header-link:hover{
    color: midnightblue;
}