<h2>Register</h2>
<form name="forma" #form="ngForm" (ngSubmit)="userExists(form)">
<table class="tabela">
    <tr>
        <td>username:</td>
        <td>
            <input type="text" name="username" [(ngModel)]="username" required>
        </td>        
    </tr>
    <tr>
        <td>lozinka:</td>
        <td>
            <input type="password" name="lozinka" [(ngModel)]="lozinka" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{7,12}$" [formControl]="lozinkaControl">
        </td>        
    </tr>
    <tr>
        <td>Potvrditi lozinku:</td>
        <td>
            <input type="password" name="potvrdaLozinke" [(ngModel)]="potvrdaLozinke" [pattern]="lozinka" required>
        </td>        
    </tr>
    <tr>
        <td>kontaktTelefon:</td>
        <td>
            <input type="text" name="kontaktTelefon" [(ngModel)]="kontaktTelefon" pattern="[0][6][0-9]{8}" [formControl]="kontaktTelefonControl">
        </td>        
    </tr>
    <tr>
        <td>email:</td>
        <td>
            <input type="text" name="email" [(ngModel)]="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" [formControl]="emailControl">
        </td>
    </tr>
    <tr>
        <td>ime:</td>
        <td>
            <input type="text" name="ime" [(ngModel)]="ime" required>
        </td>
    </tr>
    <tr>
        <td>prezime:</td>
        <td>
            <input type="text" name="prezime" [(ngModel)]="prezime" required>
        </td>        
    </tr>
<input type="file" (change)="insertPicture($event)" class="input">
    <tr>
        
        <td colspan="2">
            <button type="submit" class="dugme">Register</button>
        </td>        
    </tr>
</table>
</form>
{{message}}<br/>
{{messageLozinka}}<br/>
{{messageTelefon}}<br/>
{{messageEmail}}<br/>