<div class="menu">
    <img [src]="korisnik.profilna" width="200" height="200"/><br/>
    <a class="menuLink" routerLink="promenaL">Promena lozinke</a> | 
    <a class="menuLink" routerLink="profil">Profil</a> | 
    <a class="menuLink" routerLink="agencije">Agencije</a> | 
    <a class="menuLink" routerLink="klijenti">Klijenti</a> | 
    <a class="menuLink" routerLink="poslovi">Poslovi</a> | 
    <a class="menuLink" routerLink="registracije">Registracije</a> | 
    <a class="menuLink" routerLink="zahtevRadnika">Zahtevi za Mesta</a> | 
    </div>
    <hr/>
<router-outlet></router-outlet>